{{if response.alerta_sucesso != None:}}
	 <div style="cursor: pointer; display: block;" id="noty_success" class="noty_bar noty_theme_default noty_layout_topLeft noty_success">
		 <div class="noty_message"><span class="noty_text">{{=response.alerta_sucesso}}</span>
		 </div><button type="button" class="close" data-dismiss="alert">×</button>
	</div>
{{pass}}

{{if response.alerta_erro != None:}}
	 <div style="cursor: pointer; display: block;" id="noty_error" class="noty_bar noty_theme_default noty_layout_topLeft noty_error">
		 <div class="noty_message"><span class="noty_text">{{=response.alerta_erro}}</span>
		 </div><button type="button" class="close" data-dismiss="alert">×</button>
	</div>
{{pass}}

{{if session.alerta_sucesso != None:}}
	 <div style="cursor: pointer; display: block;" id="noty_success" class="noty_bar noty_theme_default noty_layout_topLeft noty_success">
		 <div class="noty_message"><span class="noty_text">{{=session.alerta_sucesso}}</span>
		 </div><button type="button" class="close" data-dismiss="alert">×</button>
	</div>
	{{session.alerta_sucesso=None}}
{{pass}}



