{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="col-lg-4">
{{=form.custom.begin}}
<label>SubMenu:</label>
<div>{{=form.custom.widget.nome}}</div>
<br>

<label>Menu:</label> 
<div>{{=form.custom.widget.menu_ref}}</div>
<br>

<label>Icone:</label> 
<div>{{=form.custom.widget.icone}}</div>
<br>

<label>Controller:</label> 
<div>{{=form.custom.widget.controller}}</div>
<br>

<label>Função:</label> 
<div>{{=form.custom.widget.funcao}}</div>
<br>

<label>Ordem:</label> 
<div>{{=form.custom.widget.ordem}}</div>
<br>

<button type="submit" class="btn btn-primary">Enviar</button>
{{=form.custom.end}}
</div><!--col-lg-3-->
</div><!--row-->
<br>

{{end}}