{{extend 'layout.html'}}

{{block center}}
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Adicione usuário no sistema, lembrando que o modo de login é com o e-mail.
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}
<label>Nome:</label>
<div>{{=form.custom.widget.first_name}}</div>
<br>

<label>Sobrenome:</label> 
<div>{{=form.custom.widget.last_name}}</div>
<br>

<label>email:</label> 
<div>{{=form.custom.widget.email}}</div>
<br>

<label>Ramal:</label> 
<div>{{=form.custom.widget.ramal}}</div>
<br>

<label>Senha:</label> 
<div>{{=form.custom.widget.password}}</div>
<br>

</div><!--col-lg-->
</div><!--row-->

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="users" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}


{{block jquery}}

<script type="text/javascript">

$("#act-Acessos").addClass("chevron opened");
$("#dsp-Acessos").css("display", "block");
$("#Usuários").addClass("active");

</script>

{{end}}