{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="col-lg-4">
{{=form.custom.begin}}
<label>Nome:</label>
<div>{{=form.custom.widget.first_name}}</div>
<br>

<label>Sobrenome:</label> 
<div>{{=form.custom.widget.last_name}}</div>
<br>

<label>email:</label> 
<div>{{=form.custom.widget.email}}</div>
<br>

<label>Ramal:</label> 
<div>{{=form.custom.widget.ramal}}</div>
<br>

<label>Senha:</label> 
<div>{{=form.custom.widget.password}}</div>
<br>

<button type="submit" class="btn btn-primary">Enviar</button>
{{=form.custom.end}}
</div><!--col-lg-3-->
</div><!--row-->
<br>

{{end}}