{{extend 'layout.html'}}

{{block center}}

<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Escolha os menus e submenus que o usuário poderá acessar, e por último defina se ele é um gerenciador.
</div>

<br>


<div style="margin-left:150px; margin-right:150px">
<form action="insert_permissao_menu" method="POST">
<input type="hidden" name="id_usuario" value={{=id_usuario}}>
{{
    menu    =   db(db.f_menu).select(orderby=db.f_menu.ordem)
    for dado in menu:
    if dado.submenu == False:
    #print dado
    #print id_usuario
    if auth.has_membership(dado.nome, id_usuario):
        check_menup = "checked"
    else:
        check_menup = ""
    pass
}}
<table style="clear: both" class="table table-bordered table-striped" id="user">
<tbody> 
<tr>         
<td width="40%", style="border:1px solid #ADC2CC"><b>{{=dado.nome}}</b></td>
<td width="60%", style="border:1px solid #ADC2CC">
<!--<input class="form-control" id="{{=dado.nome}}" name="{{=dado.nome}}" type="checkbox" value="on" {{=check_menup}}>-->

<label class="switch switch-success">
<input type="checkbox" class="switch-input" id="{{=dado.nome}}" name="{{=dado.nome}}" value="on" {{=check_menup}}>
<span class="switch-label" data-on="On" data-off="Off"></span>
<span class="switch-handle"></span>
</label>

</td>
</tr>
</tbody>
</table><br>
{{pass

if dado.submenu == True:
if auth.has_membership(dado.nome, id_usuario):
    check_menup = "checked"
else:
    check_menup = ""
pass}}
<table style="clear: both" class="table table-bordered table-striped" id="user">
<tbody>
<tr>         
<td width="40%", style="border:1px solid #ADC2CC"><b>{{=dado.nome}}</b></td>
<td width="60%", style="border:1px solid #ADC2CC">
<!--<input class="form-control" id="{{=dado.nome}}" name="{{=dado.nome}}" type="checkbox" value="on" {{=check_menup}}>-->

<label class="switch switch-success">
<input type="checkbox" class="switch-input" id="{{=dado.nome}}" name="{{=dado.nome}}" value="on" {{=check_menup}}>
<span class="switch-label" data-on="On" data-off="Off"></span>
<span class="switch-handle"></span>
</label>

</td>
</tr>
{{pass

query = (dado.id == db.f_submenu.menu_ref)
submenu = db(query).select(orderby=db.f_submenu.ordem)
for sub in submenu:
#print sub.nome
if auth.has_membership(sub.nome, id_usuario):
    check_sub = "checked"
else:
    check_sub = ""
pass}}
{{if (sub.nome != 'Permissões') and (sub.nome != 'Grupos') and (sub.nome != 'Menu') and (sub.nome != 'Submenu'): }} <!--Não mostra alguns submenus -->
<tr>         
<td style="border:1px solid #ADC2CC">{{=sub.nome}}</td>
<td style="border:1px solid #ADC2CC">
<!--<input class="form-control" id="{{=sub.nome}}" name="{{=sub.nome}}" type="checkbox" value="on" {{=check_sub}}>-->

<label class="switch switch-success">
<input type="checkbox" class="switch-input" id="{{=sub.nome}}" name="{{=sub.nome}}" value="on" {{=check_sub}}>
<span class="switch-label" data-on="On" data-off="Off"></span>
<span class="switch-handle"></span>
</label>

</td>
</tr>  
{{pass}}<!--Não mostra alguns submenus -->
{{pass}} 
</tbody>
</table><br>
{{pass}}

<!--Permissão escrita -->
<table style="clear: both" class="table table-bordered table-striped" id="user">

<tbody> 
<tr>         
<td  id='gerr' width="40%", style="border:1px solid #ADC2CC"><b id='ger'>Gerenciador</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id='ger2' class="icon-question-sign"></i></td>
<td width="60%", style="border:1px solid #ADC2CC">
<!--<input class="form-control" id="{{=dado.nome}}" name="{{=dado.nome}}" type="checkbox" value="on" {{=check_menup}}>-->

<label class="switch switch-success">
<input type="checkbox" class="switch-input" id="gerenciador" name="gerenciador" value="on" {{=check_ger}}>
<span class="switch-label" data-on="On" data-off="Off"></span>
<span class="switch-handle"></span>
</label>

</td>
</tr>
</tbody>
</table><br>


<!--Departamentos -->
<table style="clear: both" class="table table-bordered table-striped" id="user">

<tbody> 
<tr>         
<td  id='grava' width="40%", style="border:1px solid #ADC2CC"><b id='grav'>Gravações</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id='grav2' class="icon-question-sign"></i></td>
<td id='yy' width="60%", style="border:1px solid #ADC2CC">
<!--<input class="form-control" id="{{=dado.nome}}" name="{{=dado.nome}}" type="checkbox" value="on" {{=check_menup}}>-->

<label class="switch switch-success">
<input type="checkbox" class="switch-input" id="gravacao_perm" name="gravacao_perm" value="on" {{=check_grav}}>
<span class="switch-label" data-on="On" data-off="Off"></span>
<span class="switch-handle"></span>
</label>
</td>
</tr>

{{
    depta=db(db.f_departamentos.mostrar == True).select(db.f_departamentos.departamento)
    for dept in depta:
    dept_nome = 'dept_%s' %(dept.departamento)
    
    if auth.has_membership(dept_nome, id_usuario):
        check_dept = "checked"
    else:
        check_dept = ""
    pass

}}

<tr>         
<td style="border:1px solid #ADC2CC"> Dept. {{=dept.departamento}}</td>
<td style="border:1px solid #ADC2CC">
<!--<input class="form-control" id="{{=sub.nome}}" name="{{=sub.nome}}" type="checkbox" value="on" {{=check_sub}}>-->

<label class="switch switch-success">
<input type="checkbox" class="switch-input" id="{{=dept_nome}}" name="{{=dept_nome}}" value="on" {{=check_dept}}>
<span class="switch-label" data-on="On" data-off="Off"></span>
<span class="switch-handle"></span>
</label>

</td>
</tr>  

{{pass}}
</tbody>
</table><br>


<input value="Enviar" type="submit"  class="btn btn-primary">
</form>
</div>

{{end}}

{{block jquery}}

<script type="text/javascript">


$("#ger").popover({trigger: "hover",title: 'Usuário Gerenciador', content: "Somente o usuário gerenciador poderá alterar e deletar os dados do sistema, se não estiver habilitado o usuário será somente leitura. ", placement: 'top' }) 
$("#ger2").popover({trigger: "hover",title: 'Usuário Gerenciador', content: "Somente o usuário gerenciador poderá alterar e deletar os dados do sistema, se não estiver habilitado o usuário será somente leitura. ", placement: 'top' }) 

$("#grav").popover({trigger: "hover",title: 'Escutar Gravações', content: "Usuário terá permissão de escutar e fazer download das ligações no menu Bilhetes se habilitado.", placement: 'top' })
$("#grav2").popover({trigger: "hover",title: 'Escutar Gravações', content: "Usuário terá permissão de escutar e fazer download das ligações no menu Bilhetes se habilitado.", placement: 'top' }) 



//Menu
$("#act-Acessos").addClass("chevron opened");
$("#dsp-Acessos").css("display", "block");
$("#Usuários").addClass("active");

</script>

{{end}}
