{{extend 'layout-login.html'}}

{{block login}}
				<div class="login-box">
					
					<div class="header">
						Login admanager
					</div>
					
					<div class="text-with-hr">
						<span>Recuperar senha</span>
					</div>
					
						{{=form.custom.begin}}
						<fieldset class="col-sm-12">
							<div class="form-group">
							  	<div class="controls row">	
									<div class="input-group col-sm-12">	
										{{=form.custom.widget.new_password}}
										<span class="input-group-addon"><i class="icon-key"></i></span>
									</div>	
							  	</div>
							</div>

													
							<div class="form-group">
							  	<div class="controls row">	
									<div class="input-group col-sm-12">	
										{{=form.custom.widget.new_password2}}
										<span class="input-group-addon"><i class="icon-key"></i></span>
									</div>	
							  	</div>
							</div>
							

							<!--<div class="confirm">
								<input type="checkbox" name="remember"/>
								<label for="remember">Remember me</label>
							</div>-->	

							<div class="row">
							
								
							<button type="submit" class="btn btn-lg btn-primary col-xs-12">Enviar</button>
							
							</div>
							
								
						</fieldset>	
						{{=form.custom.end}}
					
					
					<!--<a class="pull-right" href="page-register.html">Sign Up!</a>-->
					
					<div class="clearfix"></div>				
						
				</div>

{{end}}




			
