<!DOCTYPE html>
<html lang="pt-br">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>ForIP Manager</title>
	<meta name="description" content="ADManager 2.5">
	<meta name="author" content="Fernando Vieira - ForIP">
	<meta name="keyword" content="Genius, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link href="{{=URL(a='admanager', c='static', f='css')}}/web2py.css" rel="stylesheet">
	<link href="{{=URL(a='admanager', c='static', f='css')}}/web2py_bootstrap.css" rel="stylesheet">

	<link href="{{=URL(a='admanager', c='static', f='css')}}/bootstrap.min.css" rel="stylesheet">
	<link href="{{=URL(a='admanager', c='static', f='css')}}/style.min.css" rel="stylesheet">
	<link href="{{=URL(a='admanager', c='static', f='css')}}/retina.min.css" rel="stylesheet">
	<link href="{{=URL(a='admanager', c='static', f='css')}}/print.css" rel="stylesheet" type="text/css" media="print"/>
	<!-- end: CSS -->

	{{include 'web2py_ajax.html'}}
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="{{=URL(a='admanager', c='static', f='js')}}/respond.min.js"></script>
		
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{=URL(a='admanager', c='static', f='ico')}}/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{=URL(a='admanager', c='static', f='ico')}}/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{=URL(a='admanager', c='static', f='ico')}}/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{=URL(a='admanager', c='static', f='ico')}}/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="{{=URL(a='admanager', c='static', f='ico')}}/favicon.png">
	<!-- end: Favicon and Touch Icons -->	
		
</head>

<body>

		<!-- start: Header -->
	<header class="navbar">
		<div class="flash">{{=response.flash or ''}}</div>
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			</button>
			<a id="main-menu-toggle" class="hidden-xs open"><i class="icon-reorder"></i></a>		
			<a class="navbar-brand col-md-2 col-sm-1 col-xs-2" href="index-2.html"><span>Manager 3.0</span></a>
			<!--<div id="search" class="col-sm-5 col-xs-8 col-lg-3">
				<select>
					<option>everything</option>
					<option>messages</option>
					<option>comments</option>
					<option>users</option>
			  	</select>
				<input type="text" placeholder="search" />
				<i class="icon-search"></i>
			</div>-->
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav navbar-nav pull-right">

					<!-- end: Message Dropdown -->
					<!--<li>
						<a class="btn dropdown-toggle" data-toggle="dropdown">
						<i class="icon-wrench"></i></a>

						<ul class="dropdown-menu">
							<li><a href="{{=URL(a='admanager', c='initial', f='profile')}}"><i class="icon-user"></i> Profile</a></li>
							<li><a href="ui-elements.html#"><i class="icon-cog"></i> Settings</a></li>
							<li><a href="{{=URL(a='admanager', c='initial', f='change_password')}}"><i class="icon-key"></i> Trocar senha</a></li>
							<li><a href="{{=URL(a='admanager', c='initial', f='user/logout')}}"><i class="icon-off"></i> Logout</a></li>
						</ul>
						
					</li>-->
					<!-- start: User Dropdown -->
					{{include 'includes/photo.html'}}
					<!-- end: User Dropdown -->
					
				</ul>
			</div>
			<!-- end: Header Menu -->
			
		</div>	
	</header>
	<!-- end: Header -->
	
		<div class="container">
		<div class="row">

			<!-- start: Main Menu -->
			<div id="sidebar-left" class="col-lg-2 col-sm-1 ">
								
				{{include 'includes/cria_menu.html'}}

				<a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="icon-double-angle-left"></i></a>
			</div>
			<!-- end: Main Menu -->
			
			<!-- start: Content -->
			<div id="content" class="col-lg-10 col-sm-11 ">
				
			<div class="row">	
				<div class="col-lg-12">
					{{include 'includes/marcador.html'}}
					<div class="box">
						<div class="box-header">
							<h2><i class="icon-tasks"></i>{{=response.title or ''}}</h2>
						</div>
						<div class="box-content">

						<div style="position: fixed; right: 30px; top: 50px; width: 200px">
							{{include 'includes/alertas.html'}}
						</div>

							{{include}}
								{{block center}}
							{{end}}
						</div><!--box-->	
					</div><!--/col-->
				</div><!--/col-->
				
			</div><!--/row-->
			</div><!-- end: Content -->
				
	</div><!--/row-->			
	</div><!--/container-->
	
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	
	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2014 <a href="http://forip.com.br/" alt="Bootstrap Themes">ForIP.com.br</a></span>
			<span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://bootstrapmaster.com/" alt="Bootstrap Admin Template">ForIP</a></span>
		</p>

	</footer>
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery-2.0.3.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery-1.10.2.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{=URL(a='admanager', c='static', f='js')}}/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='{{=URL(a='admanager', c='static', f='js')}}/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{=URL(a='admanager', c='static', f='js')}}/bootstrap.min.js"></script>
	<!--<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery.js"></script>-->	
	
	<!-- page scripts -->
	<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery.ui.touch-punch.min.js"></script>
	<script src="{{=URL(a='admanager', c='static', f='js')}}/jquery.sparkline.min.js"></script>
	
	<!-- theme scripts -->
	<script src="{{=URL(a='admanager', c='static', f='js')}}/custom.min.js"></script>
	<script src="{{=URL(a='admanager', c='static', f='js')}}/core.min.js"></script>
	
	<!-- inline scripts related to this page -->
	<script src="{{=URL(a='admanager', c='static', f='js')}}/pages/ui-sliders-progress.js"></script>
	
	<!-- end: JavaScript-->

{{block jquery}}
{{end}}
	
</body>
</html>