{{extend 'layout-principal.html'}}

{{block principal}}

<br><br>

<div class="col-lg-6">

					<div class="box">
						<div class="box-header">
							<h2><i class="icon-list"></i>Manuais</h2>
							<div class="box-icon">
								<!--<a href="widgets.html#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
								<a href="widgets.html#" class="btn-close"><i class="icon-remove"></i></a>-->
							</div>
						</div>
						<div class="box-content">
							<table id='ult-ch' class="table bootstrap-datatable datatable small-font">
								<thead>
									<tr>
										<th>Manual</th>
										<th>Tipo/Sistema</th>
										<th>Download</th>
									</tr>
								</thead>   
								<tbody>
									<tr>
										<td>Guia Funções PABX</td>
										<td style="text-align: center"><i class="fa fa-hdd-o fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/guia_funcoes_pbx.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>ATA Linksys 2102</td>
										<td style="text-align: center"><i class="fa fa-fax fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/manual_ATA_SPA_2102.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>ATA Linksys 122</td>
										<td style="text-align: center"><i class="fa fa-fax fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/manual_ATA_SPA122.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>AudioCodes 310HD</td>
										<td style="text-align: center"><i class="fa fa-fax fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/audiocodes_310HD.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>Yealink</td>
										<td style="text-align: center"><i class="fa fa-fax fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/yealink.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>3CX Windows</td>
										<td style="text-align: center"><i class="fa fa-windows fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/3cx_windows.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper Windows</td>
										<td style="text-align: center"><i class="fa fa-windows fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/zoiper_Windows.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>CSIP Simple Android</td>
										<td style="text-align: center"><i class="fa fa-android fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/csipSimple.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper Android</td>
										<td style="text-align: center"><i class="fa fa-android fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/zoiper_manual_android.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper IPhone</td>
										<td style="text-align: center"><i class="fa fa-apple fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/manuais/zoiper_manual_iphone.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i></a>
										</td>
									</tr>
																			
								</tbody>
							</table>
						</div>
					</div>
				</div><!--col-6-->

<div class="col-lg-6">

					<div class="box">
						<div class="box-header">
							<h2><i class="icon-list"></i>Softphones</h2>
							<div class="box-icon">
								<!--<a href="widgets.html#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
								<a href="widgets.html#" class="btn-close"><i class="icon-remove"></i></a>-->
							</div>
						</div>
						<div class="box-content">
							<table id='ult-ch' class="table bootstrap-datatable datatable small-font">
								<thead>
									<tr>
										<th>Softphone</th>
										<th>Sistema</th>
										<th>Download</th>
									</tr>
								</thead>   
								<tbody>
									<tr>
										<td>3CX Phone 6.0</td>
										<td style="text-align: center"><i class="fa fa-windows fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/softphones/3CXPhone6.msi" target="_blank"><i class=" icon-download-alt"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper 3.6</td>
										<td style="text-align: center"><i class="fa fa-windows fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/softphones/Zoiper_3.6_win.exe" target="_blank"><i class=" icon-download-alt"></i></a>
										</td>
									</tr>
									<tr>
										<td>X-Lite 3.0</td>
										<td style="text-align: center"><i class="fa fa-windows fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/softphones/xlite_3.0_windows.exe" target="_blank"><i class=" icon-download-alt"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper 3.6 32-bit</td>
										<td style="text-align: center"><i class="fa fa-apple fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/softphones/Zoiper_MacOSX_32bit_v3.30.dmg" target="_blank"><i class=" icon-download-alt"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper 3.6 32-bit</td>
										<td style="text-align: center"><i class="fa fa-linux fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/softphones/Zoiper_Linux_32bit_v3.20.run" target="_blank"><i class=" icon-download-alt"></i></a>
										</td>
									</tr>
									<tr>
										<td>Zoiper 3.6 64-bit</td>
										<td style="text-align: center"><i class="fa fa-linux fa-lg"></i></td>
										<td style="text-align: center">
											<a href="http://downloads.forip.com.br/softphones/Zoiper_Linux_64bit_v3.20.run" target="_blank"><i class=" icon-download-alt"></i></a>
										</td>
									</tr>
																			
								</tbody>
							</table>
						</div>
					</div>
				</div><!--col-6-->


{{end}}