{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}

<label>Endereço:</label>
<div>{{=form.custom.widget.endereco}}</div>
<br>

<label>Usuário:</label> 
<div>{{=form.custom.widget.usuario}}</div>
<br>

<label>Senha:</label> 
<div>{{=form.custom.widget.senha}}</div>
<br>

</div><!--col-lg-3-->

<div class="coluna_form_direita_b0">

<label>Timeout:</label> 
<div>{{=form.custom.widget.tempo_timeout}}</div>
<br>

<label>DDD:</label> 
<div>{{=form.custom.widget.ddd_padrao}}</div>
<br>

<label>Habilitar Serviço:</label> 
<div>{{=form.custom.widget.ativo}}</div>
<br>
<br>

</div>


</div>

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary">Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_troncos" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}

</div><!--row-->

{{end}}