{{extend 'layout.html'}}

{{block center}}
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Defina qual tronco será usado para determinado destino nas chamadas.
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}
<label>Rota:</label>
<div>{{=form.custom.widget.rota}}</div>
<br>

<label>Tronco:</label> 
<div>{{=form.custom.widget.id_tronco}}</div>
<br>

<label>Prioridade:</label> 
<div>{{=form.custom.widget.prioridade}}</div>
<br>

<label>Destino:</label> 
<div>{{=form.custom.widget.id_destino}}</div>
<br>

<label>Tarifação:</label> 
<div>{{=form.custom.widget.id_tarifacao}}</div>
<br>

<label>add_csp:</label> 
<div>{{=form.custom.widget.add_csp}}</div>
<br>

</div><!--col-lg-7-->

<div class="coluna_form_direita_b0">
<label>Adiciona antes:</label> 
<div>{{=form.custom.widget.adiciona_antes}}</div>
<br>

<label>Adiciona depois:</label> 
<div>{{=form.custom.widget.adiciona_depois}}</div>
<br>

<label>Exclui antes:</label> 
<div>{{=form.custom.widget.exclui_antes}}</div>
<br>

<label>Empresa:</label> 
<div>{{=form.custom.widget.id_empresa}}</div>
<br>

<label>horario:</label> 
<div>{{=form.custom.widget.id_horario}}</div>
<br>

</div><!--col-lg-3-->

</div><!--row-->

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_rotas" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}


{{block jquery}}

<script type="text/javascript">

$("#act-Funcional").addClass("chevron opened");
$("#dsp-Funcional").css("display", "block");
$("#Rotas").addClass("active");


</script>

{{end}}