{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}
<label>Tronco:</label>
<div>{{=form.custom.widget.tronco}}</div>
<br>

<label>Dispositivo:</label> 
<div>{{=form.custom.widget.dispositivo}}</div>
<br>

<label>Cham Simultaneas:</label> 
<div>{{=form.custom.widget.chamadas_simultaneas}}</div>
<br>

<label>Max Minutos:</label> 
<div>{{=form.custom.widget.qtde_max_minutos}}</div>
<br>

<label>Transbordo:</label> 
<div>{{=form.custom.widget.transbordo}}</div>
<br>

<label>Empresa</label>
<div>{{=form.custom.widget.id_empresa}}</div>
<br>

<label>Ramal principal</label>
<div>{{=form.custom.widget.ramal_principal}}</div>
<br>

</div><!--esquerda-->

<div class="coluna_form_direita_b0">
<label>Ddd:</label> 
<div>{{=form.custom.widget.ddd}}</div>
<br>

<label>Prefixo:</label> 
<div>{{=form.custom.widget.prefixo}}</div>
<br>

<label>Chave:</label> 
<div>{{=form.custom.widget.chave}}</div>
<br>

<label>Ciclo da conta:</label> 
<div>{{=form.custom.widget.ciclo_conta}}</div>
<br>

<label>Csp:</label> 
<div>{{=form.custom.widget.csp}}</div>
<br>

<label>Habilitado:</label><br>
<div>{{=form.custom.widget.habilitado}}</div>
<br>

<label>Ura:</label><br>
<div>{{=form.custom.widget.ura}}</div>
<br>

<label>Add zero:</label><br>
<div>{{=form.custom.widget.add_zero}}</div>
<br>

</div><!--direita-->

</div><!--row-->

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_troncos" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}



{{end}}