{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="col-lg-12">
{{=form.custom.begin}}
<label>Tipo Chamada:</label>
<div>{{=form.custom.widget.tipo_chamada}}</div>
<br>

<label>Expressão:</label> 
<div>{{=form.custom.widget.expressao}}</div>
<br>

<label>Destino:</label> 
<div>{{=form.custom.widget.destino}}</div>
<br>

<label>Tamanho:</label> 
<div>{{=form.custom.widget.tamanho_max}}</div>
<br>

<label>Tarifado:</label> 
<div>{{=form.custom.widget.tarifado}}</div>
<br>

</div><!--col-lg-3-->

<!--Submit-->
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary">Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_destinos" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
<!--Submit-->
{{=form.custom.end}}

</div><!--row-->

{{end}}