{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="col-lg-12">
{{=form.custom.begin}}
<label>Empresa:</label>
<div>{{=form.custom.widget.empresa}}</div>
<br><br>


<!--Submit-->
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary">Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_empresa" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
<!--Submit-->
{{=form.custom.end}}
</div><!--col-lg-3-->
</div><!--row-->

{{end}}