{{extend 'layout.html'}}

{{block center}}
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong></strong> Destinos por tipo de chamada.
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}
<label>Tipo Chamada:</label>
<div>{{=form.custom.widget.tipo_chamada}}</div>
<br>

<label>Expressão:</label> 
<div>{{=form.custom.widget.expressao}}</div>
<br>

<label>Destino:</label> 
<div>{{=form.custom.widget.destino}}</div>
<br>

<label>Tamanho:</label> 
<div>{{=form.custom.widget.tamanho_max}}</div>
<br>

<label>Tarifado:</label> 
<div>{{=form.custom.widget.tarifado}}</div>
<br>

<label>Portabilidade:</label> 
<div>{{=form.custom.widget.portabilidade}}</div>
<br>

<div style="display:none">
<div>{{=form.custom.widget.mostrar}}</div>
</div>

</div><!--col-lg-->
</div><!--row-->

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_destinos" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}



{{block jquery}}

<script type="text/javascript">

$("#act-Funcional").addClass("chevron opened");
$("#dsp-Funcional").css("display", "block");
$("#Destinos").addClass("active");

</script>

{{end}}