{{extend 'layout.html'}}

{{block center}}
<br>
<div class="direita">
    {{if editor == True:}}
   <button type="button" class="btn btn-primary" onclick=location.href="{{=url}}" >Adicionar</button>
    {{pass}}
</div>
<table class="tabela-forip">
    <thead>
        <tr>
            <th>Rota</th>
            <th>Tronco</th>
            <th>Prior.</th>
            <th>Destino</th>
            <th>Exclui</th>
            <th>Add</th>
            <th>CSP</th>
            <th>Expressão</th>
            <th>Add d</th>
            <th>Empresa</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
    {{for dado in rota:}}
        <tr>
            <td>{{=dado.rota}}</td>
            <td>{{=db(db.f_troncos.id == dado.id_tronco).select(db.f_troncos.tronco)[0].tronco}}</td>
            <td>{{=dado.prioridade}}</td>
            <!--<td>{{=dado.id_destino}}</td>-->
            <td>
                {{for item in dado.id_destino:}}
                {{=db(db.f_destinos.id == item).select(db.f_destinos.destino)[0].destino}}<br>
                {{pass}}
            </td>

            {{if dado.exclui_antes == None:}}
            <td></td>
            {{else:}}
            <td>{{=dado.exclui_antes}}</td>
            {{pass}}
            <td>{{=dado.adiciona_antes}}</td>

            {{if dado.add_csp is True:}}
            <td><input checked="checked" disabled="disabled" type="checkbox"></td>
            {{else:}}
            <td><input disabled="disabled" type="checkbox"></td>
            {{pass}}

            <td>
                {{for item in dado.id_destino:}}
                {{=db(db.f_destinos.id == item).select(db.f_destinos.expressao)[0].expressao}}<br>
                {{pass}}
            </td>
            <td>{{=dado.adiciona_depois}}</td>
            <td>
                {{for item in dado.id_empresa:}}
                {{=db(db.f_empresa.id == item).select(db.f_empresa.empresa)[0].empresa}}<br>
                {{pass}}
            </td>
            <!--<td>{{=db(db.f_tarifacao.id == dado.id_tarifacao).select(db.f_tarifacao.tarifacao)[0].tarifacao}}</td>-->


            <td>
            {{if editor == True:}}
                <a href="{{=url}}?id_rota={{=dado.id}}">
                    <i class=" icon-edit"></i></a> &nbsp;&nbsp;

                <a class="link" data-tabela="f_rotas" data-nome="{{=dado.rota}}" data-value="{{=dado.id}}" href="#">
                    <i class=" icon-trash"></i></a>
            {{pass}}
            </td>
        </tr>
    {{pass}}
    </tbody>
</table>
<br><br>



<script>
var links = document.querySelectorAll('.link');
for (x in links) {
    links[x].onclick = function() { 
    var data_attr = this.dataset;
    //alert(data_attr.value);
    var id   = data_attr.value;
    var nome = data_attr.nome;
    var tabela= data_attr.tabela;
    decisao = confirm("Tem certeza que deseja remover o item "+nome);
        if(decisao){
            location.href="{{=URL(a='admanager', c='funcional', f='delete')}}?id_tab="+id+"&tabela="+tabela+";"
        }
    return false;
    }
}
</script>

{{end}}