{{extend 'layout.html'}}

{{block center}}

<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Criei uma fila de atendimento, definindo opções como estratégia de atendimento em seguida adicione membros a ela.   
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}

<label>Nome:</label> <i id="i-nome" class="icon-question-sign"></i>
<div>{{=form.custom.widget.name}}</div>
<br>

<label>Estratégia:</label> <i id="i-estrategia" class="icon-question-sign"></i>
<div>{{=form.custom.widget.strategy}}</div>
<br>

<label>Música de espera:</label> <i id="i-musiconhold" class="icon-question-sign"></i>
<div>{{=form.custom.widget.musiconhold}}</div>
<br>

<label>Ringuse:</label> <i id="i-ringuse" class="icon-question-sign"></i>
<div>{{=form.custom.widget.ringinuse}}</div>
<br>

<label>Retry:</label> <i id="i-retry" class="icon-question-sign"></i>
<div>{{=form.custom.widget.retry}}</div>
<br>

<label>Timeoutrestart:</label> <!--<i id="i-timeoutrestart" class="icon-question-sign"></i>-->
<div>{{=form.custom.widget.timeoutrestart}}</div>
<br>

<label>CRM:</label> <i id="i-retry" class="icon-crm"></i>
<div>{{=form.custom.widget.crm}}</div>
<br>

</div><!--col-lg-->

<div class="coluna_form_direita_b0">

<label>Timeout:</label> <i id="i-timeout" class="icon-question-sign"></i>
<div>{{=form.custom.widget.timeout}}</div>
<br>

<label>Joinempty:</label> <i id="i-jointempty" class="icon-question-sign"></i>
<div>{{=form.custom.widget.joinempty}}</div>
<br>


<label>Leavewhenempty:</label> <i id="i-leavewhenempty" class="icon-question-sign"></i>
<div>{{=form.custom.widget.leavewhenempty}}</div>
<br>

<label>Wrapuptime:</label> <i id="i-wrapuptime" class="icon-question-sign"></i>
<div>{{=form.custom.widget.wrapuptime}}</div>
<br>

<label>Maxlen:</label> <i id="i-maxlen" class="icon-question-sign"></i>
<div>{{=form.custom.widget.maxlen}}</div>
<br>

<label>Eventwhencalled:</label> <i id="i-eventwhencalled" class="icon-question-sign"></i>
<div>{{=form.custom.widget.eventwhencalled}}</div>
<br>
</div><!--col-lg-3-->

</div><!--row-->

<div style="display: none;"><!--Oculta-->
<label>Announce:</label>
<div>{{=form.custom.widget.announce}}</div>
<br>

<label>Context:</label>
<div>{{=form.custom.widget.context}}</div>
<br>

<label>Monitor join:</label>
<div>{{=form.custom.widget.monitor_join}}</div>
<br>

<label>Set interfacevar:</label>
<div>{{=form.custom.widget.setinterfacevar}}</div>
<br>

<label>Monitor format:</label>
<div>{{=form.custom.widget.monitor_format}}</div>
<br>

<label>Queue youarenext:</label>
<div>{{=form.custom.widget.queue_youarenext}}</div>
<br>

<label>Queue thereare:</label>
<div>{{=form.custom.widget.queue_thereare}}</div>
<br>

<label>Queue callswaiting:</label>
<div>{{=form.custom.widget.queue_callswaiting}}</div>
<br>

<label>Queue holdtime:</label>
<div>{{=form.custom.widget.queue_holdtime}}</div>
<br>

<label>Queue minutes:</label>
<div>{{=form.custom.widget.queue_minutes}}</div>
<br>

<label>Queue seconds:</label>
<div>{{=form.custom.widget.queue_seconds}}</div>
<br>

<label>Queue lessthan:</label>
<div>{{=form.custom.widget.queue_lessthan}}</div>
<br>

<label>Queue thankyou:</label>
<div>{{=form.custom.widget.queue_thankyou}}</div>
<br>

<label>Queue reporthold:</label>
<div>{{=form.custom.widget.queue_reporthold}}</div>
<br>

<label>Event member status:</label>
<div>{{=form.custom.widget.eventmemberstatus}}</div>
<br>

<label>Report holdtime:</label>
<div>{{=form.custom.widget.reportholdtime}}</div>
<br>

<label>Announce frequency:</label>
<div>{{=form.custom.widget.announce_frequency}}</div>
<br>

<label>Announce round seconds:</label>
<div>{{=form.custom.widget.announce_round_seconds}}</div>
<br>

<label>Announce holdtime:</label>
<div>{{=form.custom.widget.announce_holdtime}}</div>
<br>

<label>Service level:</label>
<div>{{=form.custom.widget.servicelevel}}</div>
<br>

<label>Member delay:</label>
<div>{{=form.custom.widget.memberdelay}}</div>
<br>

<label>Weight:</label>
<div>{{=form.custom.widget.weight}}</div>
<br>

<label>Atributo:</label>
<div>{{=form.custom.widget.atributo}}</div>
<br>

</div><!--Oculta-->

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="queue" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}

{{block jquery}}

<script type="text/javascript">

$("#act-Extensões").addClass("chevron opened");
$("#dsp-Extensões").css("display", "block");
$("#Filas").addClass("active");

//HELP
$("#i-nome").popover({trigger: "hover",title: 'Nome da Fila', content: "Defina o nome da Fila.", placement: 'right' })

$("#i-estrategia").popover({trigger: "hover",title: 'Estratégia', content: "A estratégia define a sequência que os ramais da fila irão tocar.", placement: 'right' })

$("#i-musiconhold").popover({trigger: "hover",title: 'Música de espera', content: "Defina sua própria música de espera.", placement: 'right' })

$("#i-ringuse").popover({trigger: "hover",title: 'Ringuse', content: "Faz tocar a segunda linha dos membros mesmo estando ocupados.", placement: 'right' })

$("#i-retry").popover({trigger: "hover",title: 'Ringuse', content: "É o tempo em segundos que o sistema aguardará para chamar os agentes novamente depois do Timeout.", placement: 'right' })

$("#i-timeout").popover({trigger: "hover",title: 'Timeout', content: "É o tempo em segundos que os ramais disponiveis irão tocar após ser considerado timeout.", placement: 'right' })

$("#i-maxlen").popover({trigger: "hover",title: 'Limite de chamdas', content: "Define o número de chamdas que podem entrar na fila. Use 0 pra ilimitado!", placement: 'top' })

$("#i-jointempty").popover({trigger: "hover",title: 'Jointemptys', content: "Define se os chamadores podem entrar em uma fila sem membros conectados ou indisponíveis.", placement: 'top' })

$("#i-leavewhenempty").popover({trigger: "hover",title: 'Leavewhenempty', content: "Define se os chamadores se mantêm em uma fila sem membros conectados ou indisponíveis.", placement: 'top' })

$("#i-wrapuptime").popover({trigger: "hover",title: 'Wrapuptime', content: "O intervalo de tempo após o agente ter terminado uma chamada antes que o sistema vai passar outra chamada para próximo agente.", placement: 'top' })

$("#i-eventwhencalled").popover({trigger: "hover",title: 'Wrapuptime', content: "Habilita gerenciador de monitoramento.", placement: 'top' })



</script>

{{end}}
