{{extend 'layout.html'}}

{{
##Setando valores de edicao
ramal=''
mac=''
linha=''

if dict_edit != {}:
	ramal=dict_edit['ramal']
	mac=dict_edit['mac']
	
	form.custom.widget.ramal['_value'] = dict_edit['ramal']
	form.custom.widget.mac['_value'] = dict_edit['mac']
	linha=dict_edit['linha']
	form.custom.widget.ramal['requires'] = IS_IN_SET(['a', 'b', 'c'])
pass
##fim
}}

{{block center}}
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Adicione ramal e vincule a um mac de equipamento.
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}
<label>Ramal:</label>
<!--<div><input class="form-control" id="no_table_ramal" name="ramal" type="text" value="{{=ramal}}"></div>-->
{{=form.custom.widget.ramal}}
<br>

<div>
<label>Mac:</label>
<!--<input id="no_table_mac" value="{{=mac}}" name="mac" type="text" class="form-control" autocomplete="off" data-provide="typeahead" data-items="4" data-source="">-->
{{=form.custom.widget.mac}}
</div>
<br>

<div>
<label>Linha:</label>
<div>{{=form.custom.widget.linha}}</div>
</div>
<br>

</div><!--col-lg-->
</div><!--row-->

<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="prov_ramal" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}


{{block jquery}}


<script type="text/javascript" src="{{=URL(a='admanager', c='static', f='js')}}/bootstrap-typeahead.js"></script>
<script type="text/javascript">

$.ajax({
method: "get",
url: "json_mac",
dataType: "json",
success: function(nome){
	//alert(nome)
  $('#no_table_mac').typeahead({source: nome});
}
});

$("div select").val({{=linha}});

$("#act-Provisioanemto").addClass("chevron opened");
$("#dsp-Provisionamento").css("display", "block");
$("#Ramal").addClass("active");

</script>

{{end}}