{{extend 'layout.html'}}

{{block center}}

<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Aqui você pode configurar o direcionamento das ligações de entrada.
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}

<div>
<label>Origem:</label>
<div>{{=form.custom.widget.origem}}</div>
<br>
</div>

<label>DDR:</label>
<div>{{=form.custom.widget.ddr}}</div>
<br>

<label>Ramal virtual:</label>
<div>{{=form.custom.widget.ramal_virtual}}</div>
<br>

</div><!--col-lg-->

</div><!--row-->


<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_direcionamento" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}



{{block jquery}}

<script type="text/javascript">

$("#act-Extensões").addClass("chevron opened");
$("#dsp-Extensões").css("display", "block");
$("#Direcionamento").addClass("active");

</script>

{{end}}
