{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="col-lg-12">
{{=form.custom.begin}}

<label>Grupo:</label>
<div>{{=form.custom.widget.grupo_destino}}</div>
<br>

<label>Destinos:</label>
<div>{{=form.custom.widget.id_destinos}}</div>
<br>


<!--Submit-->
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary">Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_grupo_destinos" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
<!--Submit-->
{{=form.custom.end}}
</div><!--col-lg-3-->
</div><!--row-->
{{end}}


{{block jquery}}

<script type="text/javascript">

$("#act-Funcional").addClass("chevron opened");
$("#dsp-Funcional").css("display", "block");
$("#Grupo-Destinos").addClass("active");

</script>

{{end}}