{{extend 'layout.html'}}

{{block center}}

<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Dica!</strong> Crie uma discagem rápida!
</div>

<div class='row'>
<div class="coluna_form_esquerda_b0">
{{=form.custom.begin}}

<div>
<label>Abreviado:</label> <i id="i-abreviado" class="icon-question-sign"></i>
<div>{{=form.custom.widget.abreviado}}</div>
<br>
</div>

<label>Destino:</label> <i id="i-destino" class="icon-question-sign"></i>
<div>{{=form.custom.widget.destino}}</div>
<br>

</div><!--col-lg-->

</div><!--row-->


<!--Submit-->
<div class="row">
<div class="botao_esquerda">
<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>&nbsp;Enviar</button>
</div>
<div class="botao_direita">
<button type="button" class="btn btn-primary" onclick=location.href="f_discagem_abreviada" ><i class="icon-share-alt"></i>&nbsp;Voltar</button>
</div>
</div>
<!--Submit-->
{{=form.custom.end}}
{{end}}



{{block jquery}}
<script type="text/javascript">

//Menu
$("#act-Extensões").addClass("chevron opened");
$("#dsp-Extensões").css("display", "block");
$("#Discagem rápida").addClass("active");

//HELP
$("#i-abreviado").popover({trigger: "hover",title: 'Número Abreviado', content: "Deve estar dentro da range de *200 até *699.", placement: 'top' })

$("#i-destino").popover({trigger: "hover",title: 'Número Destino', content: "Deve estar da mesma maneira como se estivesse discando pelo PABX.", placement: 'right' })

</script>

{{end}}
