{{extend 'layout.html'}}

{{block center}}

<div class="col-lg-12 col-md-12 col-sm-12">
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">×</button>
Legendas:&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-calendar-o"></i> -> Agenda
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-lock"></i> -> Cadeado
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-desktop"></i> -> Mesa Fop
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-envelope-o"></i> -> Voicemail
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-volume-up"></i> -> Gravação
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-paper-plane"></i> -> Desvio Imediato
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-paper-plane-o"></i> -> Outros Desvios<br>
              
</div>
</div><!--/col-->

{{if editor == True:}}
<div class="direita">
   <button type="button" class="btn btn-primary" onclick=location.href="{{=url}}" >Adicionar</button>
</div>
<br><br>
{{pass}}

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="tabela" role="grid" aria-describedby="example_info" aria-sort="descending">
                <thead>
                        <tr>
                                <th>Tecnologia</th>
                                <th>Número</th>
                                <th>Usuário</th>
                                <th>Nome</th>
                                <th>Departamento</th>
                                <th>Aplicações</th>
                                <th>#</th>
                        </tr>

		<tbody>
			{{for dado in con:}}
            <!--Definindo cor por tecnologia-->
            {{
                tec=dado.f_ramal_virtual.tecnologia
                if (tec == 'SIP') or (tec == 'IAX') or (tec == 'IAX2'):
                    classe = 'label label-success'
                pass
                if (tec == 'DAHDI') or (tec == 'KHOMP'):
                    classe = 'label label-info'
                pass
                if (tec == 'QUEUE') or (tec == 'MEETME'):
                    classe = 'label label-important'
                pass
                if (tec == 'FAX') or (tec == 'LOCAL'):
                    classe = 'label label-warning'
                pass
            }}
                        <tr>
                                <td><span class="{{=classe}}"><b>{{=dado.f_ramal_virtual.tecnologia}}</b></span></td>
                                <td>{{=dado.f_ramal_virtual.ramal_virtual}}</td>
                                <td><a href="{{=URL(a='admanager', c='ramais_v', f='link_fisico', 
                                        vars=dict(tec=tec, fisico=dado.f_ramal_virtual.ramal_fisico))}}" target="_blank">
                                    {{=dado.f_ramal_virtual.ramal_fisico}}</a>
                                </td>
                                <td>{{=dado.f_ramal_virtual.nome}}</td>
                                <td>{{=dado.f_departamentos.departamento}}</td>
                                <td>
                                    {{include 'includes/aplicacao_ramal_virtual.html'}}
                                </td>
                                <td>
                                {{if editor == True:}}
                                <a href="f_aplicacao_form?id_edit={{=dado.f_ramal_virtual.id}}">
                                <i class=" icon-asterisk"></i></a>  &nbsp;&nbsp;

                                <a href="{{=url}}?ramal_porta={{=dado.f_ramal_virtual.ramal_fisico}}&id_edit={{=dado.f_ramal_virtual.id}}">
                                <i class=" icon-edit"></i></a> &nbsp;&nbsp;

                                <a class="link" data-tabela="f_ramal_virtual" data-nome="{{=dado.f_ramal_virtual.ramal_virtual}}" data-value="{{=dado.f_ramal_virtual.id}}" href="#">
                                <i class=" icon-trash"></i></a>
                                {{pass}}
                                </td>
                        </tr>
            {{pass}}
                        

                </tbody>
        </table>



{{end}}









{{block jquery}}
<link rel="stylesheet" type="text/css" href="{{=URL(a='admanager', c='static', f='css')}}/datatable/DT_bootstrap.css">

<script type="text/javascript" src="{{=URL(a='admanager', c='static', f='js')}}/datatable/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{=URL(a='admanager', c='static', f='js')}}/datatable/DT_bootstrap.js"></script>
<script>

/* Table initialisation */
$(document).ready(function() {
        $('#tabela').dataTable( {
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap",
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                        "sLengthMenu": "Listar _MENU_ registros por pagina",
                        "sZeroRecords": "Nada encontrado - =/",
                        "sInfo": "Listando _START_ a _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Listando 0 a 0 de 0 registros",
                        "sInfoFiltered": "(_MAX_ registros filtrados)"
                },
                "fnRowCallback"  : function(nRow,aData,iDisplayIndex) {
                                  $('td:eq(0)', nRow).css( "text-align", "center" );
                                  $('td:eq(1)', nRow).css( "text-align", "center" );
                                  $('td:eq(2)', nRow).css( "text-align", "center" );
                                  $('td:eq(3)', nRow).css( "text-align", "center" );
                                  $('td:eq(4)', nRow).css( "text-align", "center" );
                                  $('td:eq(5)', nRow).css( "text-align", "center" );
                                  $('td:eq(6)', nRow).css( "text-align", "center" );
                                  return nRow;
          }

        } );
$('input').addClass('form-control')
$('select').addClass('form-control')
} );

//Delete
var links = document.querySelectorAll('.link');
for (x in links) {
    links[x].onclick = function() { 
    var data_attr = this.dataset;
    //alert(data_attr.value);
    var id   = data_attr.value;
    var nome = data_attr.nome;
    var tabela= data_attr.tabela;
    decisao = confirm("Tem certeza que deseja remover o item "+nome);
        if(decisao){
            location.href="{{=URL(a='admanager', c='ramais_v', f='delete')}}?id_tab="+id+"&tabela="+tabela+";"
        }
    return false;
    }
}


</script>



{{end}}