{{extend 'layout.html'}}

{{block center}}
<div class='row'>
<div class="col-lg-12">
{{=form.custom.begin}}

<label>Tecnologia:</label>
<div>{{=form.custom.widget.tecnologia}}</div>
<br>

<label>Símbolo:</label>
<div>{{=form.custom.widget.simbolo}}</div>
<br>

<label>Início:</label>
<input type="number" class="form-control" min="1000" max="9999" step="1" id="number" name="inicio">
<br>

<label>Fim:</label> 
<input type="number" class="form-control" min="1000" max="9999" step="1" id="number2" name="fim">
<br>

<div id="rangeSlider"></div><br>
<br>

<div id='input_senha'><label>Senha:</label> 
 {{=form.custom.widget.senha}} </div>
{{=form.custom.widget.gerar_senha}}
Gerar senha automática
<br><br>


<button type="submit" class="btn btn-primary">Enviar</button>
{{=form.custom.end}}
</div><!--col-lg-3-->
</div><!--row-->
<br>

{{end}}

{{block jquery}}
<link href="{{=URL(a='admanager', c='static', f='css')}}/nouslider/jquery.nouislider.css" rel="stylesheet">
<script src="{{=URL(a='admanager', c='static', f='js')}}/nouslider/jquery.nouislider.min.js"></script>

<script>
$( document ).ready(function() {
      $("#rangeSlider").noUiSlider({
        start: [ 1020, 1100 ],
        step: 1,
        range: {
          'min': 1000,
          'max': 1500
        },
        connect: true,
        serialization: {
          lower: [
            $.Link({
              target: $("#number"),
              type: number,
              format: {
                decimals: 0,
              }
            }),
            $.Link({
              target: $(".inputClass"),
            }),         
          ],
          upper: [
            $.Link({
              target: $("#number2"),
              type: number,
              format: {
                decimals: 0,
              }
            }),
          ], 
        }
      }); 

      });

$("#no_table_gerar_senha").change(function() {
    if(this.checked) {
        $('#input_senha').toggle('slow', function() {
    // Animation complete.
  });
    }
    else{
    	$('#input_senha').toggle('slow', function() {
    // Animation complete.
  });
    }
});

//lock enter
$(document).ready(function () {
   $('input').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);                
        return (code == 13) ? false : true;
   });
});

</script>
{{end}}